<div class="modal fade dialog-obsazeni" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Zabrat budku</h1>
      </div>
      <div class="alert alert-success" *ngIf="this.success">
        Budka byla úspěšně obsazena. gratulki
      </div>
      <div class="alert alert-danger" *ngFor="let error of this.errors">
        {{error}}
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-body">
          <div class="form-group form-group-lg">
            <label for="skolaSelect">Škola</label>
            <select class="form-control" id="skolaSelect" formControlName="skola">
              <option></option>
              <option value="0">GJVJ</option>
              <option value="1">GYMJI</option>
              <option value="2">BIGY</option>
              <option value="3">Česká</option>
              <option value="4">Stavárna</option>
              <option value="5">Zdrávka</option>
            </select>
          </div>
          <div class="form-group form-group-lg">
            <label for="kod">Kód</label>

            <input type="number" class="form-control" id="kod" min="0" max="9999" formControlName="kod">
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-default obsadit">ZABRAT</button>
        </div>
      </form>

    </div>
  </div>
</div>
