<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Jak to celé funguje?</h1>
      </div>
        <div class="modal-body">
          <ul>
            <li> Žádné násilí, ani hrozba násilím.</li>
            <li>Dřív příchozí je v právu.</li>
            <li>Území se dá zabrat pouze tak, že si vyslechnete kód a ten pak zadáte na webu.</li>
            <li>Hra končí v pátek před začátkem průvodu nebo dřív, pokud někdo zabere všechna území.</li>
            <li>Naše hra je jeden velký experiment, kdykoliv se může cokoliv pokazit, takže prosím buďte schovívaví.</li>





          </ul>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-lg" data-dismiss="modal">Zavřít</button>
        </div>

    </div>
  </div>
</div>
