/*** Esri Map ***/
.map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  text-align: left;
  overflow: hidden;
}

/*** Restyle Esri Zoomin-out ***/
.esriSimpleSlider {
  border: 1px solid #cccccc;
}

.esriSimpleSliderTL {
  bottom: auto;
  right: auto;
  top: 15px;
  left: 15px;
}

.esriSimpleSliderTR {
  bottom: auto;
  right: 15px;
  top: 15px;
  left: auto;
}

.esriSimpleSliderBL {
  top: auto;
  right: auto;
  bottom: 15px;
  left: 15px;
}

.esriSimpleSliderBR {
  top: auto;
  right: 15px;
  bottom: 15px;
  left: auto;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #cccccc;
}

/*** Restyle Esri Popup ***/
.esriPopupWrapper {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

/* Easy color control */
.esriPopupWrapper {
  background-color: #fff;
}

.esriPopup .titlePane, .esriPopup .contentPane, .esriPopup .actionsPane,
.esriPopup .pointer, .esriPopup .outerPointer, .esriPopup .pointer.top, .esriPopup .pointer.topLeft,
.esriPopup .pointer.topRight, .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight {
  background-color: #fff;
}

.esriPopup.light .pointer.top, .esriPopup.light .pointer.topLeft, .esriPopup.light .pointer.topRight {
  background-color: #f7f7f7;
}

/* Soften corners */
.esriPopup.light .esriPopupWrapper, .esriPopup.dark .esriPopupWrapper {
  border-radius: 1em;
  -webkit-border-radius: 1em;
}

.esriPopup.light .titlePane, .esriPopup.dark .titlePane {
  border-radius: 0.3em 0.3em 0 0;
  -webkit-border-radius: 0.3em 0.3em 0 0;
}

.esriPopup.light .actionsPane, .esriPopup.dark .actionsPane {
  border-radius: 0px 0px 0.3em 0.3em;
  -webkit-border-radius: 0px 0px 0.3em 0.3em;
}

/* Title Pane font and buttons */
.esriPopup .titlePane, .esriPopup.light .titlePane, .esriPopup.dark .titlePane {
  height: 34px;
  padding: 10px 0 0 10px;
  background-color: #f7f7f7;
  font-size: 14px;
}

.esriPopup.light .titleButton {
  font-size: 16px;
}

.esriPopup.light .titleButton:hover {
  color: #333;
}

.esriPopup.light .titleButton.next, .esriPopup.dark .titleButton.next {
  right: 35px;
}

.esriPopup.light .titleButton.prev, .esriPopup.dark .titleButton.prev {
  right: 60px;
}

.esriPopup.light .titleButton.next, .esriPopup.dark .titleButton.next,
.esriPopup.light .titleButton.prev, .esriPopup.dark .titleButton.prev {
  color: #AAAAAA;
}

.esriPopup.light .titleButton.next:hover, .esriPopup.dark .titleButton.next:hover,
.esriPopup.light .titleButton.prev:hover, .esriPopup.dark .titleButton.prev:hover {
  color: #666;
}

/* Content Pane */
.esriPopup .contentPane, .esriPopup.light .contentPane, .esriPopup.dark .contentPane {
  max-height: 300px;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #ebebeb;
}

/* Hide all ofd these */
.esriPopup .titlePane .spinner {
  display: none;
}

.esriPopup .titleButton.maximize, .esriPopup .titleButton.restore {
  display: none;
}

.esriPopup .actionsPane .actionList {
  display: none;
}

.esriViewPopup .break {
  height: 2px;
}

.esriViewPopup .mainSection .attrTable td.attrName {
  color: #888888;
}

.esriViewPopup .mainSection .attrTable td {
  color: #888888;
}

/*** Restyle Geocoder widget ***/
.simpleGeocoder .esriGeocoderContainer {
  width: 100%;
}

.simpleGeocoder .esriGeocoder {
  border: 1px solid #cccccc;
}

.simpleGeocoder .esriGeocoderResults {
  border: 1px solid #cccccc;
}

.simpleGeocoder .esriGeocoder input {
  width: 73%;
  padding: 7px 0 6px;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

.simpleGeocoder .esriGeocoderIcon {
  margin: 9px 0 6px 6px;
}

.simpleGeocoder .esriGeocoderHasValue .esriGeocoderReset {
  margin: 8px 4px 5px 1px;
}

/*** Restyle the Basemap Gallery widget ***/
.esriBasemapGallery * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.esriBasemapGalleryNode {
  width: 75px;
}

.esriBasemapGalleryThumbnail {
  height: 61px;
  width: 75px;
}

.esriBasemapGalleryLabelContainer {
  display: none;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
  border: 2px solid #3C7AFF;
}

/*** Fix Bootstrap modal bug ***/
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0;
  margin-top: 0;
}

/*** Bootstrap extensions and overrides ***/
.panel-fixed {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-left: 60px;
  width: 320px;
  text-align: center;
  z-index: 50;
}

.panel-fixed .panel-body {
  max-height: 350px;
  overflow: auto;
}

.panel-fixed .panel-body .checkbox input[type=checkbox], .panel-fixed .panel-body .btn-toolbar .btn-group, .panel-fixed .panel-body.btn-toolbar .input-group {
  float: none;
}

.panel-fixed .panel-body > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

.panel-fixed .btn-absolute {
  position: absolute;
  top: 9px;
  right: 9px;
  border: none;
  outline: none;
}

.panel-fixed .btn-absolute:hover, .panel-fixed .btn-absolute:focus, .panel-fixed .btn-absolute:active, .panel-fixed .btn-absolute .active {
  box-shadow: none;
  outline: none;
  background-color: #428bca;
}

/*** Media Queries ***/
@media (max-width: 600px) {
  .panel-fixed {
    width: 250px;
  }
}

body {
  padding-top: 50px;
  height: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

html {
  height: 100%;
}

#mapDiv {
  height: calc(100% - 3px);
  /*height: 100%;*/
}

iframe {
  height: 100%;
  width: 100%;
}

select#skolaSelect option {
  height: 65px;
}

.obsadit {
  color: white;
  background-color: #1d1d1d;
  width: 100%;
  height: 130px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 37px;
  border: none;
  border-radius: 0;

  margin-left: 0;
  margin-right: 0;
}

button {
  width: auto;
   margin-left: 0;
   margin-right: 0;
  height: auto;
}

.obsadit:hover, .obsadit:hover {
  background-color: #b53f3f;
  color: white;
}

.modal-footer:focus {
  box-shadow: none;
  border: none;
  outline: none;
  outline-color: black;
}

.obsadit:focus, .obsadit:active
{
  background-color: #cf4a4a;
  box-shadow: none;
  border: none;
  outline: none;

}
.btn .btn-default {
  border: none;

}

.modal-content {
  border: none;
  border-radius: 0;
}

.dialog-obsazeni .modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: center;
  font-weight: 700;
  color: black;
}

.dialog-obsazeni .modal-footer {
  padding: 0;
}

.close {
  right: 15px;
  top: 10px;
  position: absolute;
  font-size: 56px;
  font-weight: 700;
  line-height: 0.8;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .7;
}

.alert {
  margin-bottom: 0;
}

.alert-danger {
  border-radius: 0;
}

.chat {
  float: left;
}

@media (min-width: 768px)
{
  .navbar-nav {
    float: none;
  }

  .chat {
    float: right !important;
  }
}

/*@media (min-width: 768px) {*/
  /*.navbar-nav>li {*/
    /*margin: 0;*/
    /*float: none;*/
  /*}*/

  /*.chat {*/
    /*float: right !important;*/
  /*}*/

/*}*/


*:active, *:hover, *:focus {
  outline: none !important;
}


.navbar-brand {
  color: #f3f3f3;
  padding-left: 30px;
}
